<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Denegado!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    Lo sentimos, no tienes permiso para acceder.
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>