{% extends 'admin.html.twig' %}

{% block body %}

<div class="container">
    

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="">Crear un nuevo formulario</a>
        </div>
    </div>

        {% for flashMessage in app.session.flashbag.get('mensaje') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

    <h1>Lista de formularios</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for form in forms %}
            <tr>
                <td>{{ form.name }}</td>
                <td>{{ form.createdAt |date("m/d/Y") }}</td>
                <td>{{ form.modifiedAt |date("m/d/Y") }}</td>
                <td>{% if form.active %}Si{% else %}No{% endif %}</td>
                <td>
                    <a class='btn btn-warning' href="#">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</div>




{% endblock %}
