{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Crear formulario</h1>

<div class="container">




    <form class="horizontal" name="new" action="{{ path('new_form_post') }}" method="POST">
        <div class="form-group">
            <div class="col-md-6">
                <label>Nombre del formulario</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
            </div>  
            <div class="col-md-6">
                <label>Activo</label>
                <select name="activo" id="activo" class="form-control">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div> 
        </div>


        <div class="form-group">
            <div class="col-md-12">
                <div style="margin-top: 30px"></div>
                <input type="submit" name="guardar" id="guardar" value="Guardar" class="btn btn-primary">
            </div>  
        </div>
    </form>

</div>


{% endblock %}

