{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Crear formulario</h1>

<div class="container">



{% for flashMessage in app.session.flashBag.get('errors') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>
{% endfor %}




    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div style="margin: 30px"></div>
            <input class="btn btn-primary" type="submit" value="Guardar cambios" />
        </div>
    {{ form_end(form) }}





</div>


{% endblock %}

